*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 50px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    color: rgb(10, 10, 107);
    margin-bottom: 50px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 500;
    color: dimgray;
}

.new{
    position: fixed;
    bottom: 30px;
    right: 50px;
    background-color: rgb(10, 93, 177);
    padding: 50px;
    border: 8px solid rgb(43, 41, 41);
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}
.new:hover{
    transform: scale(1.05);
}
.new h4{
    font-family: cursive;
    font-size: 70px;
    color: rgb(119, 165, 224);
}